body{
    background-image: url('white-painted-wall-texture-background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Varela Round', sans-serif;
}
.tittle-in{
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    padding: 15px;
    border-radius: 0 0 20px 20px;
    position: relative;
    bottom: 12px;
    margin-bottom: 5px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    box-shadow: 2px 2px 10px rgb(84, 81, 81);
}
/* side nav bar */
.nav-bar{
    display: flex;
    justify-content: space-between;
}
.left-button{
    display: flex;
    gap: 20px;
}
.back-button{
    padding-left: 2px;
    padding-top: 7px;
    font-size: 28px;
    text-decoration: none;
    color: #000000;
}
.back-button:hover{
    color: red;
}
.closebtn{
    color: #ffffff;
}

  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 1px;}
    .sidenav a {font-size: 18px;}
  }

.icon{
    position: relative;
    top: 5px;
    display: flex;
    gap: 20px;
}
/* gcam list section */
.gcam{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 5px 2px 20px rgb(81, 77, 77);
    /* background-color: #000000; */
}
.gcam-container{
    /* background-color: #00eeff; */
    text-align: center;
    padding: 20px 0;
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
    box-shadow: 2px 2px 10px rgb(84, 81, 81);
    animation: zoom 0.5s ease-in 0s 1 alternate ;
    transform: scale();
}
@keyframes zoom {
    from{
        scale: 0;
    }
    to{
        scale: 1;
    }
}
.gcam-container:hover{
    background-color: #000000;
    color: red;
}

.copy{
    margin-top: 10%;
    border:2px solid #000000;
    width: auto;
    background-color: #000000;
    background-blend-mode: multiply;
    border-radius: 10px 10px 0 0;
    font-weight: 600;
    box-shadow: 1px 1px 20px 1px;
}
  /* media query for mobile */
  @media only screen and (max-width: 800px){
    .gcam{
        display: none;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 50px;
        padding: 50px;
        border-radius: 20px;
        /* background-color: #000000; */
    }
    .gcam-container{
        /* background-color: #00eeff; */
        text-align: center;
        padding: 20px 10px;
        border-radius: 10px;
        font-weight: 600;
        font-size: 12px;
        box-shadow: 2px 2px 10px rgb(84, 81, 81);
    }
  }