body{
    background-image: url('../images/white-painted-wall-texture-background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    font-family: 'Varela Round', sans-serif;
}
/* main tittle */
.conatiner-tittle{
    /* background-color: aqua; */
    margin-left: 32%;
    margin-right: 32%;
}
.main-tittle{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-top: 30px;
    padding: 20px 0px;
    border-radius: 10px;
    /* border: 2px solid; */
    /* box-shadow: 2px 3px 10px; */
}
/* side nav bar */
.nav-bar{
  display: flex;
  justify-content: space-between;
}
.left-button{
  display: flex;
  gap: 20px;
}
.back-button{
  padding-left: 2px;
  padding-top: 7px;
  font-size: 28px;
  text-decoration: none;
  color: #000000;
}
.back-button:hover{
  color: red;
}
.closebtn{
  color: #ffffff;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: black;
  background-blend-mode: soft-light;
  overflow-x: hidden;
  transition: 0.9s;
  padding-top: 60px;
}

.sidenav a {
  text-align: end;
  padding: 5px 20px 8px 8px;
  text-decoration: none;
  font-size: 20px;
  display: block;
  transition: 0.5s;
  color: #ffffff;
  font-weight: 600;
}

.sidenav a:hover {
  color: #ff0000;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 36px;
  margin-right: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 1px;}
  .sidenav a {font-size: 18px;}
}
/* details section */
.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -19px;
}
.collapsible {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/white-painted-wall-texture-background.webp);
    color: rgb(0, 0, 0);
    border: 2px solid black;
    cursor: pointer;
    padding: 40px 20px;
    margin-left: 40px;
    width: 20%;
    text-align: left;
    outline: none;
    font-size: 18px;
    border-radius: 20px;
    font-family: 'Varela Round', sans-serif;
    box-shadow: 2px 3px 10px black;
  }
  
  .active, .collapsible:hover {
    background-image: linear-gradient(black, black);
    color: rgb(255, 0, 0);
    box-shadow: 2px 3px 10px rgb(255, 0, 0);
  }
  
  .content {
    margin-top: 20px;
    
    padding: 0 18px;
    display: none;
    overflow: hidden;
    border-radius: 20px;
    border: 2px dashed black;
    box-shadow: 2px 3px 10px black;
  }
  .content-details{
    width: 700px;
    text-align: center;
    padding: 20px 40px;
  }
  .content-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .texts{
    font-size: 18px;
    width: 500px;
    line-height: 1.2; 
  }
  .process{
    margin-left: 10px;
    padding: 10px 10px;
    box-shadow: 2px 3px 10px black;
    border-radius: 20px;
  }
  .method{
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 0.83em;
    position: relative;
    line-height: 1.4;
  }
  .detail-image{
    margin: 25px 15px;
    padding: 10px;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    /* border: 2px solid; */
    box-shadow: 2px 3px 10px black;
  }
  .detail-image img{
    width: 200px;
    background-color: white;
    border-radius: 100px; 
    box-shadow: 2px 3px 10px black; 
  }
  .xml-creator{
    position: relative;
    /* bottom: 30px; */
    font-size: 16px;
    font-weight: 600;
  }

  /* link section */
  .link-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /* background-color: aqua; */
    height: 150px;
    border-radius: 20px;
    /* border: 2px solid; */
    margin-left: 35%;
    margin-right: 35%;
    /* box-shadow: 2px 3px 10px black; */
  }

  .config{
    padding: 20px 10px;
    width: 250px;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    /* background-color: bisque; */
    box-shadow: 2px 3px 10px black;
    text-decoration: none;
  }
  .link-container a{
    text-decoration: none;
    color: black;
  }
.config:hover{
    background-color: black;
    color: red;
    box-shadow: 2px 3px 10px rgb(0, 60, 255);
  }
  /* video section */
  .video{
    border-radius: 20px;
    border: 2px solid;
    box-shadow: 2px 3px 10px black;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  /* picture sample and how to download */
  /* picture modal style start */
  .modal {
    z-index:1;
    display:none;
    padding-top:10px;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgb(0,0,0);
    background-color:rgba(0,0,0,0.8)
    }
    
    .modal-content{
    margin: auto;
    display: block;
        position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  
    
    .modal-hover-opacity {
    opacity:1;
    filter:alpha(opacity=100);
    -webkit-backface-visibility:hidden
    }
    
    .modal-hover-opacity:hover {
    opacity:0.60;
    filter:alpha(opacity=60);
    -webkit-backface-visibility:hidden
    }
    
    
    .close {
    text-decoration:none;float:right;font-size:24px;font-weight:bold;color:white
    }
    .container1 {
    width:200px;
    display:inline-block;
    }
    .modal-content, #caption {   
      
        -webkit-animation-name: zoom;
        -webkit-animation-duration: .5s;
        animation-name: zoom;
        animation-duration: 1s;
    }
    
    
    @-webkit-keyframes zoom {
        from {-webkit-transform:scale(0)} 
        to {-webkit-transform:scale(1.5)}
    }
    
    @keyframes zoom {
        from {transform:scale(0)} 
        to {transform:scale(1.5)}
    }
    
    
  /* picture modal style end */
  .picture{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
    background-color: #ffffff;
    border: 2px solid;
    border-radius: 20px;
    padding: 40px 100px;
    display: none;
    overflow: hidden;
    margin-top: 20px;
    margin-left: 36px;
    box-shadow: 1px 1px 5px 3px;
  }
  .picture-container{
    display: grid;
    grid-template-columns: repeat(4, 0.3fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap:1.5em;
    column-gap: 5.5em;
  }
  .link-con{
    display: flex;
    text-decoration: none;
  }
  .link-con a{
    text-decoration: none;
    color: black;
  }
  .picture-item{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .picture-container img{
    width: 310px;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
  }
  .two:hover{
    background-image: linear-gradient(black, black);
    color: white;
  }
  /* social links */
  .social-link{
    text-align: center;
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
  }
  .facebook{
    font-size: 4.5em;
    padding: 10px;
    color: rgba(9, 43, 168, 0.924);
  }
  .telegram{
    font-size: 4.5em;
    padding: 10px;
    color: rgba(6, 105, 255, 0.924);
  }
  .youtube{
    font-size: 4.5em;
    padding: 10px;
    color: rgba(255, 6, 6, 0.924);
  }
  .social:hover{
    color: rgb(4, 11, 17);
  }

  /* copy right section */
.copy{
  margin-top: 20px;
  border:2px solid #000000;
  width: auto;
  background-color: #000000;
  background-blend-mode: multiply;
  border-radius: 10px 10px 0 0;
  font-weight: 600;
  box-shadow: 1px 1px 20px 1px;
}
@media screen and (max-width: 500px) {
  /* main tittle */
  .conatiner-tittle{
    margin-left: 0%;
    margin-right: 0%;
}
  .main-tittle{
    font-size: .1.5em;
    text-align: center;
    margin-top: 30px;
    border-radius: 10px;
    /* box-shadow: 2px 2px 5px black; */
    margin-left: 10%;
    margin-right: 10%;
}
/* details section */
.collapsible {
  border: 2px solid black;
  padding: 18px 10px;
  width: 15em;
  border-radius: 5px;
  text-align: left;
  font-size: 14px;
  border: none;
  margin-top: 0;
  margin-bottom: 0;
  width: 50%;
}

.content {
  margin-left: 35px;
  border: none;
}
.content-details{
  text-align: center;
  padding: 20px 40px;
}
.content-container{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin: 0 -12px;
}
.texts{
  font-size: 1em;
  position: relative;
  bottom: 10px;
  width: 50%;
  line-height: 1.2; 
}
.detail-one{
  /* background-color: #ff0000; */
  padding: 10px;
  border-radius: 20px;
  position: relative;
  right: 75px;
  font-size: 0.83em;
  width: 300px;
  margin-bottom: -10px;
  box-shadow: 0px 0px 0px black;
}
.for-media{
  font-size: 16px;
}
.process{
  position: relative;
  left: -85px;
  padding: 10px 10px;
  width: 300px;
  box-shadow: 0px 0px 0px black;
  border-radius: 20px;
}
.method{
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 0.83em;
  position: relative;
  line-height: 1.4;
}
.detail-image{
  position: relative;
  top: 20px;
  margin: 10px 15px;
  padding: 0px;
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  /* border: 2px solid; */
  box-shadow: 0px 0px 0px black;
}
.detail-image img{
  width: 200px;
  background-color: white;
  border-radius: 150px; 
  box-shadow: 2px 3px 10px black; 
}
.xml-creator{
  position: relative;
  /* bottom: 30px; */
  font-size: 16px;
  font-weight: 600;
}
/* wanrning style */
.warning{
  margin-bottom: -6em;
}

  /* link section */
  .link-container{
    display: flex;
    gap: 0;
    transform: scale(.75);
    margin-bottom: -1em;
    position: relative;
  }
  .sample-download{
    position: relative;
    top: 4.5em;
  }
  .config{
    font-size: 12px;
    padding: 10px 0px;
    width: 250px;
    text-align: center;
    border: none;
    border-radius: 10px;
    border-radius: 50px;
    /* background-color: bisque; */
    box-shadow: 2px 3px 10px rgb(105, 104, 104);
    text-decoration: none;
  }
  .camera{
    border-radius: 50px;
  }
  .two{
    padding: 7px 0px;
    border-radius: 10px;
    color: white;
    background-image: linear-gradient(rgb(255, 0, 0), rgb(255, 102, 0));
  }
/* video */
.video{
  width: 80%;
  height: auto;
  margin-top: 60px;
  border: none;
}
.picture{
  padding: 30px 60px;
  border: none;
  box-shadow: 1px 1px 10px 1px rgb(202, 195, 195);
  background-image: url(../white-painted-wall-texture-background.webp);
}
.picture-container{
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  column-gap: 1.5em;
}
  /* social link */
.facebook{
  font-size: 2.5em;
  padding: 10px;
  color: rgba(9, 43, 168, 0.924);
}
.telegram{
  font-size: 2.5em;
  padding: 10px;
  color: rgba(6, 105, 255, 0.924);
}
.youtube{
  font-size: 2.5em;
  padding: 10px;
  color: rgba(255, 6, 6, 0.924);
}
}
